
.country {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    height: 250px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .country img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .country h1 {
    font-size: 18px;
  }
  